@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* *,*::before,*::after{
    font-family: inter;
} */
body {
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

/* ------------Q) Can this be done?--------- */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.footer {
  margin-top: auto;
}
